@import "~bootstrap/dist/css/bootstrap.min.css";


.cardBody{
    width: 200px;
    height: 300px;
}

#familyBot{
    -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
